@mixin before_circle ($top, $left, $transform) {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        z-index: -1;
        top: $top;
        left: $left;
        transform: $transform;
        border-radius: 100%;
        background: $main-color;

    }
}